/* Customização geral */
body{
    background: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Fonte geral das caixas */
*{
    font-family: sans-serif;
    box-sizing: border-box;

}

/* Edição dor form (caixa de fundo do formuláro*/
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

/* Edição do h2 e centralização*/
h2{
    text-align: center;
    margin-bottom: 40px;
}

/* Edição do input (estilo das caixas onde o usuário vai digitar) */
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    
}

/* Edição do label (espaçamento, cor, fonte) */
label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

/* Edição do botão */
button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}

/* Estilo do erro de login, caixinha informando que necessita ID ou SENHA */
.error{
   background: #F2DEDE; 
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

/* Estilo da mensagem de sucesso para criação de conta */
.success{
    background: #D4EDDA; 
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 

/* Estilo do h1 */
h1{
   text-align: center;
   color: #fff; 
}

/* Estilo da classe ca (do botão de criar uma conta) */
.ca{
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;    
}
.ca:hover{
    text-decoration: underline;
}

#dropdown{
	
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    box-sizing: border-box;
    background: #EDF7F5;
  
  }

  #genderbox{
    size: 500px;
  }
